/* Universal Styles */

body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 0;
    text-align: center;
}

h2, h3, h4, h5, h6 {
    color: black;
    margin: 0;
    padding: 1em;
}

/* Header Styles */
header {
    background-color: lightgray;
    height: 57px;
    opacity: 0.9;
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
}

.nav-item {
    color: black;
    text-decoration: none;
}

/* Main Content Styles */

.main {
    margin-top: 57px;
}

h1 {
    background-color: black;
    color: white;
    margin: 0;
    padding: 1.5em;
}

/* Schedule Styles */

.schedule-item {
    margin: 0 auto;
    margin-bottom: 1em;
    padding: .75em;
    width: 90%;
}

.schedule-item img {
    width: 85%;
}

/* Opinion Styles */

#opinions {
    background-color: black;
    color: white;
}

#opinions h2 {
    color: white;
}

.opinion-container {
    padding-bottom: 1em;
}

.opinion {
    border: 1px solid white;
    margin: 0 auto 1em;
    opacity: 0.9;
    padding: 1em;
    width: 60%;
}

.opinion p {
    margin: 0;
}